.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}

.xl {
  max-width: var(--container-xl);
}

.xxl {
  max-width: var(--container-2xl);
}

.fluid {
  max-width: none;
}
